<a href="https://colab.research.google.com/github/Muyiiwaa/learn-EDA/blob/master/Lesson_One_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### PYTHON BASICS

* Variables and datatypes
* Operators
* BuiltIn Functions
* Conditionals
* Basic Data Structures
* Loops
* Functions
* List comprehension, Lambda function

### Variables and DataTypes


#### Common datatypes in python

* int ----> 2,5,667,4359 etc
* float ----> 2.3, 45.6,12.7 etc
* strings ----> 'segun', 'tunde', 'dog','hi'
* boolean ----> True, False
* Binary -----> 0,1

### Operators

#### Logical Operators
* And
* Or
* Not

#### Comparison Operators
* greater than >
* less than <
* equal to ==
* not equal !=
* greater or equal >=
* less or equal <=

#### Arithmetic operators
* subtraction -
* addition +
* multiplication *
* division /
* floor division //
* modulus %
* power **
* root ** 1/n

In [4]:
orange = 2
apple = 2

orange + apple

4

In [5]:
orange + 56

58

In [11]:
# write a program that returns somebody's age based on their year of birth


year = 1985  # define the year of birth
age = 2024 - year # calculating the age

print(f'You are {age} years old')   # printing the age result

You are 39 years old

In [19]:
# write a program that accepts any year of birth and returns the person's age

name = input('Enter your name: ')
year = int(input(f'Hi {name}, enter your year of birth: '))

age = 2024 - year

print(f'Hi {name}, you are {age} years old')

Enter your name: Gbemi
Hi Gbemi, enter your year of birth: 2000
Hi Gbemi, you are 24 years old

In [21]:
# wwrite a program that converts days to weeks


days = int(input('Enter the number of days: '))

week = days // 7
day = days % 7

print(f'There are {week} weeks and {day} days')

Enter the number of days: 15
There are 2 weeks and 1 days

In [23]:
# write a program that solves quadratic equation

a = int(input('a: '))
b = int(input('b: '))
c = int(input('c: '))

x1 = (-b + (b**2 - 4*a*c) ** (1/2))/(2*a)
x2 = (-b - (b**2 - 4*a*c) ** (1/2))/(2*a)

print(f'x = {x1} or x = {x2}')

a: 1
b: -5
c: 6
x = 3.0 or x = 2.0

In [22]:
9 ** (1/2)

3.0

#### Assignment

1. write a dollar to naira converter program
2. write a simple program that converts megabyte to gigayte

### Conditionals

* if
* elif
* else

In [27]:
# write a program that checks whether a number is even or odd


number = int(input('Enter the number: '))

if number % 2 == 0:
  print(f'{number} is even')
else:
  print(f'{number} is odd')

Enter the number: 6
6 is even

In [31]:
# write a program that checks whether someone is an adult, teenager or a child also greet them in their dialect

year = int(input('Enter your year of Birth: '))
tribe = input('What is your tribe: ')
age = 2024 - year

if tribe == 'yoruba':
  print(f'Enle ooooo')
  if age < 13:
    print(f'You are a child')
  elif age < 20:
    print(f'You are a teenager')
  else:
    print(f'You are an adult')
else:
  print('Kedu ooooooooo')
  if age < 13:
    print(f'You are a child')
  elif age < 20:
    print(f'You are a teenager')
  else:
    print(f'You are an adult')

Enter your year of Birth: 2003
What is your tribe: yoruba
Enle ooooo
You are an adult

### Assignment

write a discount approval program that gives 15% disccount for
all order above 30k and 2% discount for orders below 30k

### Basic Data Structures

* List
* Tuple
* Dictioneries

In [34]:
name = ['frmi','tola','bola']
cars = ('toyota','benz','bmw')
states = {'lagos':'ikeja','oyo':'ibadan','kwara':'ilorin'}

print(type(name))
print(type(cars))
print(type(states))

<class 'list'>
<class 'tuple'>
<class 'dict'>

In [46]:
# some list functions and methods

name = ['frmi','tola','bola']
age = [23,43,5,12,45,1,7,3]
# append
name.append('ismail')

# pop
name.pop(1)

# remove
name.remove('frmi')

# sum
sum(age)

# len
len(age)

# sorted
sorted(age, reverse=True)

[45, 43, 23, 12, 7, 5, 3, 1]

In [42]:
print(name)

['ismail', 'ismail', 'ismail']

In [58]:
# Slicing and Indexing a list

names = ['femi','tola','bola','ayo','tomi','funmi','fawaz']
names[-7]

names[:4]
names[4:]
names[2:5]

['bola', 'ayo', 'tomi']