In [4]:
# BASIC OOP REFRESHER

# create a dog object

class Dog:
    
    # initialize the constructor
    def __init__(self, color, breed, gender, yob, name):
        self.color = color
        self.breed = breed
        self.gender = gender
        self.yob = yob
        self.danger = False
        self.attack = False
        self.name = name
        
    
    # create the methods of the object
    
    def bark(self, intensity = 'l'):
        if intensity == 'l':
            print('WOOOF!')
        elif intensity == 'h':
            print('wooooooooooooooooooooof!!!!!!!!')
    
    def run(self, danger = False):
        if danger:
            self.danger = True
            self.attack = True
            print('running really fast')
        elif danger == False:
            print('RUNNING AND HAVING FUN')
    
    def calm(self):
        if self.attack:
            self.attack = False
            self.danger = False
            print('calming the dog')
        elif self.attack == False:
            print(f'{self.name} is calm already..')

In [5]:
bruno = Dog(color = 'red', breed = 'Rott', gender = 'female', yob = 2015 , name = 'Bruno')

In [10]:
bruno.yob

2015

In [12]:
bruno.bark('h')

wooooooooooooooooooooof!!!!!!!!

In [14]:
bruno.run(True)

running really fast

In [16]:
bruno.calm()

Bruno is calm already..

In [17]:
print(type(bruno))

<class '__main__.Dog'>

### EXPLORATORY DATA ANALYSIS WITH PANDAS AND NUMPY

In [18]:
# import the libraries

import pandas as pd
import numpy as np

In [19]:
# creating a list and a numpy array
age = [12,13,14,25]
age_2 = np.array([12,13,14,25])

In [20]:
print(type(age))
print(type(age_2))

<class 'list'>
<class 'numpy.ndarray'>

In [27]:
a = np.array([[1,2,3],
              [4,5,6],
              [7,8,9]])


print(type(a))

<class 'numpy.ndarray'>

In [22]:
a.shape

(3, 3)

In [26]:
# checking the datatype of element
a.dtype

dtype('<U11')

In [ ]:
# creating pandas dataframe

# 1. from dictionaries or list of lists
# 2. load from local file 
# 3. connect to a database or an API

In [30]:
# method 1 

# create a students table

students = {
    
    'name':['zainab', 'yemi', 'ayo', 'ade', 'wale'],
    'age': [2,3,4,5,6],
    'height' : [11.2,12,32.5,34,12],
    'color':  ['red','red','black','blue','yellow']   
}

students_df = pd.DataFrame(students)

In [31]:
students_df

     name  age  height   color
0  zainab    2    11.2     red
1    yemi    3    12.0     red
2     ayo    4    32.5   black
3     ade    5    34.0    blue
4    wale    6    12.0  yellow